body {
    padding: 0;
    margin: 0;
    background: #4b6634;
    font-family: Arial, sans-serif;
}

.cover-container {
    position: relative;
    text-align: center;
}

.cover {
    display: block;
    margin: 0 auto;
}

.p1 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.p2 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.p3 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.p4 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.p5 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.p6 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.p7 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.paragraph {
    text-align: center;
}
